@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes waveShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  position: relative;
  overflow: hidden;
  background-image: repeating-linear-gradient(-95deg, transparent 0%, transparent 20%, rgba(65, 105, 225, 0.3) 30%, rgba(65, 105, 225, 0.3) 40%, transparent 50%, transparent 100%), linear-gradient(to right, #0A113C 0%, #1A205B 40%, #1F3F8C 70%, #3464BC 100%);
  background-size: 50% 100%, 100% 100%;
  background-repeat: repeat-x, no-repeat;
  animation: patternMove 40s linear infinite;
}

@keyframes patternMove {
  0% {
    background-position: 100% 0%, 0% 0%;
  }
  100% {
    background-position: 0% 0%, 0% 0%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-scroll-experts {
    animation: scroll 20s linear infinite;
  }
}

html,
body {
  overflow-x: hidden;
}
